In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('iris')
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [4]:
multi = df[['sepal_length', 'petal_length', 'species']]
print(multi)

     sepal_length  petal_length    species
0             5.1           1.4     setosa
1             4.9           1.4     setosa
2             4.7           1.3     setosa
3             4.6           1.5     setosa
4             5.0           1.4     setosa
..            ...           ...        ...
145           6.7           5.2  virginica
146           6.3           5.0  virginica
147           6.5           5.2  virginica
148           6.2           5.4  virginica
149           5.9           5.1  virginica

[150 rows x 3 columns]

In [6]:
print(multi.describe(include='all'))

        sepal_length  petal_length species
count     150.000000    150.000000     150
unique           NaN           NaN       3
top              NaN           NaN  setosa
freq             NaN           NaN      50
mean        5.843333      3.758000     NaN
std         0.828066      1.765298     NaN
min         4.300000      1.000000     NaN
25%         5.100000      1.600000     NaN
50%         5.800000      4.350000     NaN
75%         6.400000      5.100000     NaN
max         7.900000      6.900000     NaN

In [8]:
below_median = multi[multi['sepal_length'] < 5.8]
print(below_median)

     sepal_length  petal_length     species
0             5.1           1.4      setosa
1             4.9           1.4      setosa
2             4.7           1.3      setosa
3             4.6           1.5      setosa
4             5.0           1.4      setosa
..            ...           ...         ...
98            5.1           3.0  versicolor
99            5.7           4.1  versicolor
106           4.9           4.5   virginica
113           5.7           5.0   virginica
121           5.6           4.9   virginica

[73 rows x 3 columns]

In [15]:
print(multi.iloc[3])

sepal_length       4.6
petal_length       1.5
species         setosa
Name: 3, dtype: object

In [23]:
setosa = multi.groupby('species')['sepal_length'].describe()
print(setosa)

            count   mean       std  min    25%  50%  75%  max
species
setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [24]:
subset = df.iloc[1:, [4,1]]
print(subset)

       species  sepal_width
1       setosa          3.0
2       setosa          3.2
3       setosa          3.1
4       setosa          3.6
5       setosa          3.9
..         ...          ...
145  virginica          3.0
146  virginica          2.5
147  virginica          3.0
148  virginica          3.4
149  virginica          3.0

[149 rows x 2 columns]

In [26]:
sort_df = df.sort_values(by='sepal_length').info()
print(sort_df)

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 13 to 131
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB
None

In [42]:
print(round(df[df.species == 'virginica'].loc[100:150,'sepal_length'].mean(), 2))

6.59